################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.pubxml.user
*.userosscache
*.sln.docstates

.vs/
bin/
release/
TextureTool/obj/
TextureTool/bin/
DiscUtils/obj/
sa1-image-builder/bin/
sa1-image-builder/obj/